[Desktop Entry]
Type=Application
Name=Eclipse
Comment=Eclipse Integrated Development Environment
Icon=/opt/ide/eclipse/icon.xpm
Exec=/opt/ide/eclipse/eclipse
Terminal=false
Categories=Development;IDE;Java;
